<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/navbar.ejs') %> 

    <h1>Browsing the <%= name %> subreddit!</h1>
    <h2><%= description  %></h2>
    <p><%= subscribers  %> Total Subscribers</p>

    <hr>

    <% for (let post of posts){ %>
        <article>
            <h3><%= post.title %> - <b><%= post.author %></b></h3>
            <% if (post.img){ %>
                <img src="<%= post.img %>" alt="">
            <% } %>
        </article>
    <% } %>
</body>
</html>